.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
    
i {
    color: ivory;
    font-size: 70px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    border-radius: 18px;
    background-color: rgb(51, 49, 49);
    width: 300px;
    height: 250px;
    margin-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
}

p {
    font-family: 'PT Sans' ;
}


